if theme.aside.card_tags.enable
  .card-widget.card-tags
    .item-headline
      i.fas.fa-tags
      span= _p('aside.card_tags')

    - let { limit, orderby, order, custom_colors } = theme.aside.card_tags
    - limit = limit === 0 ? 0 : limit || 40
    - const tagcloudOptions = { amount: limit, orderby: orderby || 'name', order: order || 1, color: custom_colors || false, start_color: '#999', end_color: '#333', font_size: 14, max_font_size: 24 }

    .card-tag-cloud
      != tagcloud(tagcloudOptions)