#aside-content.aside-content
  //- post
  if is_post()
    - const tocStyle = page.toc_style_simple
    - const tocStyleVal = tocStyle === true || tocStyle === false ? tocStyle : theme.toc.style_simple
    if showToc && tocStyleVal
      .sticky_layout
        include ./card_post_toc.pug
    else
      !=partial('includes/widget/card_author', {}, {cache: true})
      !=partial('includes/widget/card_announcement', {}, {cache: true})
      !=partial('includes/widget/card_top_self', {}, {cache: true})
      
      //- 【防御性修复】增加变量存在性判断，防止因为缺少配置项导致白屏崩溃
      if theme.aside && theme.aside.card_categories && theme.aside.card_categories.enable
        !=partial('includes/widget/card_categories', {}, {cache: true})
      if theme.aside && theme.aside.card_tags && theme.aside.card_tags.enable
        !=partial('includes/widget/card_tags', {}, {cache: true})
      if theme.aside && theme.aside.card_archives && theme.aside.card_archives.enable
        !=partial('includes/widget/card_archives', {}, {cache: true})
        
      .sticky_layout
        if showToc
          include ./card_post_toc.pug
        !=partial('includes/widget/card_recent_post', {}, {cache: true})
        !=partial('includes/widget/card_ad', {}, {cache: true})
  else
    //- page
    !=partial('includes/widget/card_author', {}, {cache: true})
    !=partial('includes/widget/card_announcement', {}, {cache: true})
    !=partial('includes/widget/card_top_self', {}, {cache: true})
    
    //- 【防御性修复】
    if theme.aside && theme.aside.card_categories && theme.aside.card_categories.enable
      !=partial('includes/widget/card_categories', {}, {cache: true})
    if theme.aside && theme.aside.card_tags && theme.aside.card_tags.enable
      !=partial('includes/widget/card_tags', {}, {cache: true})
    if theme.aside && theme.aside.card_archives && theme.aside.card_archives.enable
      !=partial('includes/widget/card_archives', {}, {cache: true})
    if theme.aside && theme.aside.card_webinfo && theme.aside.card_webinfo.enable
      !=partial('includes/widget/card_webinfo', {}, {cache: true})
    !=partial('includes/widget/card_bottom_self', {}, {cache: true})
    
    .sticky_layout
      if showToc
        include ./card_post_toc.pug
      !=partial('includes/widget/card_recent_post', {}, {cache: true})
      !=partial('includes/widget/card_ad', {}, {cache: true})
      
      //- 【引发白屏的核心修复位置】必须先判断 theme.newest_comments 是否存在！
      if theme.newest_comments && theme.newest_comments.enable
        !=partial('includes/widget/card_newest_comment', {}, {cache: true})
