extends includes/layout.pug

block content
  #hlog-home-layout
    .hlog-top-section
      .hlog-carousel-block
        #home-showcase-container
      .hlog-right-block
        .hlog-card.announcement-card
          .card-header
            span.header-icon 📢
            span 最新公告
          .card-body
            ul.notice-list
              li: a(href="/") 欢迎访问 Hlog 博客
              li: a(href="/") 更多新功能正在路上...
        .hlog-card.featured-poster-card
          .poster-background
            img#featured-poster-img(src="", alt="推荐")
          .poster-overlay
            span.poster-tag ⭐ 特别推荐
            h4#featured-poster-title 正在加载...

    .hlog-bottom-section
      .section-heading
        span.heading-icon 📝
        h2 最新发布
      .post-list-container
        //- 【绝对安全渲染】有多少就循环多少，绝不强行越界
        if page.posts && page.posts.data
          each post, index in page.posts.data
            if index < 5
              .post-list-item
                if post.cover
                  .post-cover-wrapper
                    img(src=url_for(post.cover) alt=post.title || '封面')
                .post-item-info
                  h3.post-item-title
                    a(href=url_for(post.path))= post.title || '无标题'
                  .post-item-excerpt
                    //- 【绝对安全截取】使用 Hexo 原生 truncate，就算文章没有任何内容也不会导致打包崩溃白屏
                    - var text = post.description || post.excerpt || post.content || '暂无简介'
                    != truncate(strip_html(text), {length: 120, omission: '...'})
                  .post-item-meta
                    if post.date
                      span= date(post.date, 'YYYY/MM/DD')
                      span  · 
                    span 阅读更多

      include includes/pagination.pug