extends includes/layout.pug

block content
  #hlog-home-layout
    
    //- 第一大部分：上半部分（左右分栏）
    .hlog-top-section
      
      //- 左侧：轮播板块
      .hlog-carousel-block
        #home-showcase-container
        
      //- 右侧：上下堆叠
      .hlog-right-block
        
        //- 右上：公告板块
        .hlog-card.announcement-card
          .card-header
            span.header-icon 📢
            span 最新公告
          .card-body
            ul.notice-list
              li: a(href="#") 欢迎访问 Hlog，这是一个完全开源免费的博客系统
              li: a(href="#") 更多新功能正在路上...
        
        //- 右下：特点推荐板块 (全新海报模式)
        .hlog-card.featured-poster-card
          .poster-background
            img#featured-poster-img(src="", alt="Featured Post")
          .poster-overlay
            span.poster-tag ⭐ 特别推荐
            h4#featured-poster-title 正在加载...

    //- 第二大部分：下半部分（最新文章列表，底部通栏）
    .hlog-bottom-section
      .section-heading
        span.heading-icon 📝
        h2 最新发布
      .post-list-container
        //- 【修复致命报错 1】换用全局 site.posts 获取最新5篇文章，绝对不会再报 limit 错误
        - var latestPosts = site.posts.sort('date', -1).limit(5).toArray()
        each post in latestPosts
          .post-list-item
            if post.cover
              .post-cover-wrapper
                img(src=url_for(post.cover) alt=post.title)
            .post-item-info
              h3.post-item-title
                a(href=url_for(post.path))= post.title
              .post-item-excerpt
                //- 【修复致命报错 2】增加安全判断，防止个别文章没有内容导致 strip_html 崩溃
                - var postText = post.excerpt || (post.content ? strip_html(post.content).substring(0, 120) + '...' : '暂无摘要...')
                = postText
              .post-item-meta
                span= date(post.date, 'YYYY/MM/DD')
                span  · 
                span 阅读更多内容...
